.App-header {
    background-color: #E03A3F;
    max-height: 67px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    color: white;
    box-shadow: 0px 1px .5px grey;
}

.App-logo {
    height: 67px;
}